@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
    font-size: 14px;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.main-wrapper {
    width: min(60vw, 700px);
    margin-bottom: 50px;
}


.yt-icon {
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
}

.search-panel {
    text-align: center;
    margin-bottom: 2rem;
}

.title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.search-box input {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
    background: #121212;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: 1px solid #313131;
    width: 50%;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.search-box button {
    border: none;
    cursor: pointer;
    background: #313131;
    border-radius: 0 10px 10px 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0 1rem;
}
.search-box button:hover {
    background: #383838;
}



.panel {
    padding: 0.8rem;
    background: #252525;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.panel.error-panel {
    text-align: center;
    color: #aaa;
}


.preview-panel-target-wrapper {
    position: relative;
}

#preview-panel-target {
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#preview-panel-target.show {
    opacity: 1;
}

.preview-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.yt-stats-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.5rem;    
    border-bottom:  1px solid #303030;    
}
.yt-views-panel {
    color: #aaa;
}

.yt-rate-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.yt-rating-wrapper{
    position: absolute;
    bottom:  -1px;
    left:  0;
    width: 100%;
    height:  2px;
    background: #494949;
}

#like-ratio{
    position: absolute;
    left:  0;
    width: 0;
    height:  2px;
    background: #227dc5;
    transition:  0.3s;
}

.stats-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}

.iframe-wrapper {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    background: black;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    color: #aaa;
    font-weight: 300;
    opacity: 0.7;
}

footer a {
    color: #cfcfcf;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
}
footer a:hover {
    color: white;
}




@media only screen and (max-width: 700px) {
    h1{
        font-size: 1.8rem;
    }
    .search-box input{
        width: 100%;
    }
    .main-wrapper {
        width: 90vw;
    }
    footer{
        position: relative;
    }
}






.lds-ripple {
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%)
}

.lds-ripple.show {
    opacity: 1;
}

.lds-ripple:before,
.lds-ripple:after {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    opacity: 0.6;
    border-radius: 50%;
    -webkit-animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple:after {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes lds-ripple {
    0% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 36px;
        height: 36px;
        opacity: 0;
    }
}

@keyframes lds-ripple {
    0% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0.6;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 36px;
        height: 36px;
        opacity: 0;
    }
}